set default="0"
set timeout="15"

menuentry "ShredOS" {
    linux __KERNEL_PATH__ console=tty3 loglevel=3
    initrd __INITRD_PATH__
}

menuentry "ShredOS (nomodeset - display issues? try this)" {
    linux __KERNEL_PATH__ console=tty3 loglevel=3 nomodeset
    initrd __INITRD_PATH__
}

if [ "${grub_platform}" = "efi" ]; then
   menuentry "Memtest86+ (BIOS legacy emulation for USB keyboard)" {
    linux /EFI/BOOT/memtest.efi keyboard=legacy
}
   menuentry "Memtest86+ (USB keyboards)" {
    linux /EFI/BOOT/memtest.efi keyboard=both
}
   menuentry "Memtest86+ (Disable SMP and memory identification)" {
    linux /EFI/BOOT/memtest.efi nosmp nosm nobench
}
fi

if [ "${grub_platform}" = "pc" ]; then
   menuentry "Memtest86+ (BIOS legacy emulation for USB keyboard)" {
    linux /boot/memtest keyboard=legacy
}
   menuentry "Memtest86+ (USB keyboards)" {
    linux /boot/memtest keyboard=both
}
   menuentry "Memtest86+ (Disable SMP and memory identification)" {
    linux /boot/memtest nosmp nosm nobench
}
  menuentry "Memtest86+ (Serial line RS232, ttyS0,115200)" {
    linux /boot/memtest console=ttyS0,115200
}
fi
