default menu.c32
prompt 0
timeout 50

menu title ShredOS

label shredos
    menu label ShredOS
    kernel __KERNEL_PATH__
    append initrd=__INITRD_PATH__ console=tty3 loglevel=3

label shredos-nomodeset
    menu label ShredOS (nomodeset)
    kernel __KERNEL_PATH__
    append initrd=__INITRD_PATH__ console=tty3 loglevel=3 nomodeset
